/* CSS Imports */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
}

/* CSS Varialbles */
:root {
    --BGCOLOR: black;
    --GRIDCOLOR: #fff;
}

/* Body Style */
body {
    height: 90vh;
    background-color: var(--BGCOLOR);
    color: var(--GRIDCOLOR);
}

/* Game Container Style */
#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 300px;
}

/* Game Table Style */
#gameTable {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

/* Game Cell Style */
.gameCell {
    width: 150px;
    height: 150px;
    border: 2px solid var(--GRIDCOLOR);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 1px;
}

/* Game Text Style */
.cellText {
    font-size: 60px;
}

/* Game Status Stlye */
#gameStatus {
    font-size: 30px;
    white-space: nowrap;
}

/* Game Restart Button Style */
#restartBtn {
    padding: 15px 30px;
    background: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    color: var(--GRIDCOLOR);
    border: var(--GRIDCOLOR) 1px solid;
}

#restartBtn:hover {
    background-color: var(--GRIDCOLOR);
    color: var(--BGCOLOR);
}

/* To Margin all the 4 parts */
.mainElement {
    margin: 20px;
}

/* Game Heading */
#gameHeading {
    font-size: 50px;
    white-space: nowrap;
}